# Port number
PORT=3001

#Environment
NODE_ENV="development"

# URL of the Mongo DB
MONGO_URI=mongodb://localhost:27017/users-service
MONGO_URI_TESTS=mongodb://localhost:27017/users-service-test

# # JWT

# # JWT secret key
# JWT_SECRET=aebW6TmEqK94A76io297xgByQkjqSmRlriQZdSNzat3nTZd
# # Number of minutes after which an access token expires
# JWT_ACCESS_EXPIRATION_MINUTES=30
# # Number of days after which a refresh token expires
# JWT_REFRESH_EXPIRATION_DAYS=30
# # Number of minutes after which a reset password token expires
# JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10